CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
run/*
corpus/*
logs/*
crash-*
nsd/
nsd-patches/
nsd-patches-private/
temp/
downloads/*
toolchain/llvm-*
toolchain/work/
toolchain/ccache/
__pycache__/
*.pyc
asanfiltered.log
*.log
*.pcap
*.profraw
/DataFlow.cpp
/DataFlow.h
/DataFlowCallbacks.cpp
/covbridge-source.zip
/coverage_HTML.html
/coverage_txt.txt
/log.taco2
/log5
/tacos.log3
